<div class="row">
  <div class="page-header col">
      <h3>
        <a href="{{vm.news.newsUrl}}">{{vm.news.newsTitle}}</a>
        <small>Posted by {{vm.news._user.name}} - {{vm.news.date | date:'medium'}}</small>
        <button ng-disabled="vm.alreadyVoted()" ng-if="vm.displayVoteButton()" class="btn btn-primary pull-right" ng-click="vm.upVote()">
          <span class="glyphicon glyphicon-thumbs-up"></span></button>
      </h3>
      <p>{{vm.news.votes.length}} upvote(s)</p>
  </div>
</div>
<div class="row">
  <h4 class="">Topic Discussion</h4>
  <div class="row">
    <adn-comment class="col-sm-9 col-sm-offset-3"></adn-comment>
  </div>
  <div class="row" style="margin-top: 5px; margin-bottom: 8px;" ng-repeat="comment in vm.news.comments">
    <div class="col-sm-3">
      <em><small>{{comment.date | date:'medium'}}</small></em>
      <p class="pull-right">
        <a href>{{comment._author.name}}</a>
        <span style="font-size: 60%;" class="glyphicon glyphicon-console"></span>
      </p>
    </div>
    <div class="col-sm-9">
      {{comment.content}}
    </div>
  </div>
</div>
